<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.angcyo.plugin1">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.qihoo360.plugin.name"
                android:value="plugin1"/>

        <!--透明主题必须是 @android:style/Theme.Translucent -->
        <!--Android8.0以上, 透明主题不兼容  android:theme="@android:style/Theme.Translucent"-->
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--不支持在xml里面指定方向, 但是可以在代码里面改变-->
        <activity android:name=".TestActivity"
                  android:screenOrientation="landscape"/>
    </application>

</manifest>